* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  height: 100%;
}

.container {
  display: flex;
  /* background-color: khaki; */
  overflow: visible;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  place-items: center center;
  /* justify-content: space-evenly; */
  height: 100%;
}

/* Flex setting */

.card {
  scroll-snap-align: center;
  flex: none;
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
}

.cardcard {
  width: 85%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin: 20px;
  border-radius: 7px;
}

/* .red{
  background-color: salmon;
}

.blue{
  background-color: lightblue;
} */

.date {
  text-align: right;
  margin: 15px;;
}

.input {
  width: 100%;
}

input {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
}

#gnew, #anew {
  width: 240px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  /* background-color: khaki; */
  font-size: 18px;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius:0px;
  border-bottom: 1px solid black;
}

.card li {
  margin: 20px;
  font-size: 20px;
}

#glist, #alist {
  text-align:left;
  margin: 13%;
}

#dotsUlHolder, #dotsUlHolder ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /* height: 25vw; */
  /* must add height to make centering work */
  margin: auto;
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-bottom: 13%;
  font-size: 35px;
  letter-spacing: 5px;;
  /* margin: 20px; */
  font-weight: 900;
}

#dotsUlHolder li, #dotsUlHolder ul {
  list-style-type: none;
  color: grey;
}

@media only screen and (min-width: 400px) {
  .cardcard {
    width: 75%;
  }
}

@media only screen and (min-width: 550px) {
  .cardcard {
    width: 58%;
  }
}

@media only screen and (min-width: 768px) {
  .cardcard {
    width: 43%;
  }
}

@media only screen and (min-width: 1000px) {
  .cardcard {
    width: 33%;
  }
}