* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif; */
  height: 100%;
  /* background: linear-gradient(to right, lightgrey, ghostwhite); */
  /* background-color: rgba(0, 148, 50,0.7); */
}

.container {
  display: flex;
  /* background-color: khaki; */
  overflow: visible;
  flex: none;
  width: 100%;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
  place-items: center center;
  /* justify-content: space-evenly; */
  height: 100%;
}

/* Flex setting */

.card {
  display: flex;
  scroll-snap-align: center;
  flex: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cardcard {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex: 0 0 auto;
  width: 85%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  margin: 20px;
  border-radius: 11px;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.08); */
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* padding: 15px; */
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-top: auto;
  /* margin-bottom: 25px; */
  align-self: flex-end;
  justify-content: space-between;
}

.fasd {
  display: inline-block;
  text-align: center;
  width: 17px;
  height: 17px;
  line-height: 17px;
  color: lightgrey;
  padding: 15px;
  margin: 10px;
  /* border: 1px solid black; */
  border-radius: 50%;
  transition: .4s;
  font-size: 17px;
}

.fasd:hover {
  background-color: khaki;
  color: black;
}

.fasr {
  display: inline-block;
  text-align: center;
  width: 17px;
  height: 17px;
  line-height: 17px;
  color: lightgrey;
  padding: 15px;
  margin: 10px;
  /* border: 1px solid black; */
  border-radius: 50%;
  transition: .4s;
  font-size: 17px;
}

.fasr:hover {
  /* background-color: grey; */
  color: lightgrey;
}

/* .fasd:hover {
  background-color: khaki;
  color: black;
} */

/* .red{
  background-color: salmon;
}

.blue{
  background-color: lightblue;
} */

.date {
  text-align: right;
  margin: 15px;
}

h4 {
  font-weight: 300;
}

.main {
  width: 100%;
}

input {
  width: 240px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 18px;
  line-height: 32px;
  border: none;
  border-radius:0px;
  border-bottom: 1px solid black;
}

form {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
}

/* #gnew, #anew {
  width: 240px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 18px;
  line-height: 32px;
  border: 1px solid transparent;
  border-radius:0px;
  border-bottom: 1px solid black;
} */

.card ol li {
  margin: 20px;
  font-size: 19px;
  /* text-transform: capitalize; */
  transition: .4s;
  border-radius: 2.5px;
}

.goal ol li:hover {
  background-color: khaki;
}

.achi ol li:hover {
  background-color: #1abc9c;
}

ol {
  text-align:left;
  margin: 11% 13% 0 13%;
}

/* #glist, #alist {
  text-align:left;
  margin: 11% 13% 0 13%;
} */

.dotsUlHolder, .dotsUlHolder ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 25px;
  /* must add height to make centering work */
  margin: auto;
  /* z-index: 1; */
  position: fixed;
  top: 720px;
  left: 0;
  /* bottom: 0; */
  padding-bottom: 20px;
  font-size: 35px;
  letter-spacing: 5px;;
  /* margin: 20px; */
  font-weight: 900;
  box-sizing: border-box;
}

.dotsUlHolder li, .dotsUlHolder ul {
  list-style-type: none;
  color: lightgrey;
}

.crossOut {
  text-decoration: line-through;
}

.pushleft {
  margin-right: auto; /* for right button to stay far left */
}

.pushright {
  margin-left: auto; /* for right button to stay far right */
}

@media only screen and (min-width: 400px) {
  .cardcard {
    width: 75%;
  }
}

@media only screen and (min-width: 550px) {
  .cardcard {
    width: 58%;
  }
}

@media only screen and (min-width: 768px) {
  .cardcard {
    width: 43%;
  }
}

@media only screen and (min-width: 850px) {
  .cardcard {
    width: 38%;
  }
}

@media only screen and (min-width: 1000px) {
  .cardcard {
    width: 33%;
  }
}

@media only screen and (min-width: 1150px) {
  .cardcard {
    width: 30%;
  }
}

@media only screen and (min-width: 1300px) {
  .cardcard {
    width: 25%;
  }
}